body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f3f3f3;
}

.memory-game {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #bbb;
  margin: 5px;
  cursor: pointer;
  user-select: none;
}
